<div id="publishwindow">
      <div id="PublishView" style="margin-left: 5px;margin-top: 5px;" *ngIf="ceisumData!==undefined">
        <div *ngIf="ceisumData.colorDefault!==undefined">
        <table >
          <tr>
          <th class="colorkey" style="width: 230px" *ngIf="ceisumData.colorDescr!==undefined"><div style="width: 230px;color:#ddd !important;border:0;text-align: left;font-weight: normal">{{ceisumData.colorDescr}}</div></th></tr>
        </table>
        <table>
          <tr>
            <th class="colorkey" style="width: 60px"><div class="Hide" style="width: 60px;color:#ddd !important;border:0;text-align: left;font-weight: normal;">Color&nbsp;&nbsp;:</div></th>
          <th><div>
            <select class="cesium-button" (change)="onChangeColor($event.target.value)" [ngModel]="ColorValue">
              <option class="cesium-option"  *ngFor="let ColorName of ColorNames" value={{ColorName}}>{{ColorName}}</option>
            </select>
          </div></th>
          </tr>
          </table>
    </div>
    <div *ngIf="ceisumData.heightDefault!==undefined">
        <hr>
          <table >
          <tr>
          <th class="colorkey" style="width: 230px" *ngIf="ceisumData.heightDescr!==undefined"><div style="width: 230px;color:#ddd !important;border:0;text-align: left;font-weight: normal;">{{ceisumData.heightDescr}}</div></th></tr>
        </table>
        <table>
          <tr>
            <th class="colorkey" style="width: 60px"><div class="Hide" style="width: 60px;color:#ddd !important;border:0;text-align: left;font-weight: normal;">Extrude&nbsp;&nbsp;:</div></th>
          <th><div>
            <select class="cesium-button" (change)="onChangeHeight($event.target.value)" [ngModel]="HeightValue">
               <option class="cesium-option"  *ngFor="let Height of HeightKey" value={{Height}}>{{Height}}</option>
            </select>
          </div></th>
          </tr>
        </table>
        <table>
          <tr ><th style="width:40px;height: 25px;"><div style="width: 40px;color:#ddd !important;font-weight: normal;text-align: left;border:0;">Min&nbsp;&nbsp;:</div></th>
          <th style="width:60px;"><div style="width: 60px;color:#ddd !important;font-weight: normal;text-align: left;border:0;" *ngIf="ceisumData.heightMin!==undefined">{{ceisumData.heightMin}}</div></th>

          <th style="width:40px;"><div style="width: 40px;color:#ddd !important;font-weight: normal;text-align: left;border:0;">Max&nbsp;&nbsp;:</div></th>
          <th style="width:60px;"><div style="width: 60px;color:#ddd !important;font-weight: normal;text-align: left;border:0;" *ngIf="ceisumData.heightMax!==undefined">{{ceisumData.heightMax}}</div></th></tr>
      </table>
    </div>
    <div *ngIf="ceisumData.filter!==undefined">
      <hr>
      <div class="hide-container" style="margin-top:5px;">
        <div *ngFor="let item of hideElementArr;" id={{item.divid}}>
      <table>
        <tr >
          <th style="width:100px;height: 25px;"><div style="width:100px;color:#ddd !important;text-align: left;vertical-align: middle;font-weight: normal;">{{item.descr}}</div></th></tr>
        </table>
        <table>
          <tr>
            <th style="width:90px;height: 25px;"><div style="width:90px;color:#ddd !important;text-align: left;vertical-align: middle;font-weight: normal;">{{item.HeightHide}}</div></th>
        <th *ngIf="item.type === 'number'" style="width:40px;height: 25px;">
          <div style="width:40px;height: 25px;color:#ddd !important;vertical-align: middle;font-weight: normal;margin-top: 10px;" *ngIf="item.RelaHide === 0">></div>
          <div style="width:40px;height: 25px;color:#ddd !important;vertical-align: middle;font-weight: normal;margin-top: 10px;" *ngIf="item.RelaHide === 1"><</div>
          <div style="width:40px;height: 25px;color:#ddd !important;vertical-align: middle;font-weight: normal;margin-top: 10px;" *ngIf="item.RelaHide === 2">=</div></th>
          <th *ngIf="item.type === 'category'" style="width:40px;height: 25px;">
          <div style="width:40px;height: 25px;color:#ddd !important;vertical-align: middle;font-weight: normal;margin-top: 10px;" *ngIf="item.RelaHide === 0">none</div>
          <div style="width:40px;height: 25px;color:#ddd !important;vertical-align: middle;font-weight: normal;margin-top: 10px;" *ngIf="item.RelaHide === 1">=</div>
          <div style="width:40px;height: 25px;color:#ddd !important;vertical-align: middle;font-weight: normal;margin-top: 10px;" *ngIf="item.RelaHide === 2">!=</div></th>
          <th *ngIf="item.type === 'number'" style="width:70px;height: 20px;color:#395D73 !important;"><input type="text" id={{item.id}} value={{item.textHide}} (change)="Changetext($event.target.value,item.id)" style="width:70px;height: 20px;color:#395D73 !important;"></th>
          <th *ngIf="item.type === 'category'" style="width:73px;height: 25px;"><div style="width:73px;height: 25px;">
          <select class="cesium-button-select" [ngModel]="item.CategaryHide" (change)="ChangeCategory($event.target.value,item.id,1)" style="width:73px;height: 25px;">
            <option class="cesium-option" *ngFor="let caty of item.Category" value={{caty}}>{{caty}}</option>
          </select></div></th></tr>
      </table>
      <table>
        <tr>
        <th *ngIf="item.type === 'number'" style="width:30px;height: 25px;vertical-align: top;padding-top: 10px;"><div style="font-weight: normal;display: inline-block;color:#ddd !important;width:30px;">{{item.HideMin}}</div></th>
        <th *ngIf="item.type === 'number'" style="width:150px;height: 25px;"><div style="font-weight: normal;display: inline-block;width:150px;"><mat-slider class="slider" name="range" id="0" min={{item.HideMin}} max={{item.HideMax}} step=0.01 thumbLabel=true value={{item.textHide}} #textscale (change)="Changetext(textscale.value.toPrecision(2),item.id)" >
        </mat-slider></div></th>
        <th *ngIf="item.type === 'number'" style="width:30px;height: 25px;vertical-align: top;padding-top: 10px;"><div style="font-weight: normal;display: inline-block;color:#ddd !important;width:30px;text-align: left;">{{item.HideMax}}</div></th></tr>
      </table><hr>
        </div>
      </div>
      <button style="background-color: #ddd ;color:#395D73;" (click)="reset()">Reset</button>
      </div>
    </div>
</div>