<!-- <mat-expansion-panel class='viewer' 
		[expanded]="panelOpenState">
  	<mat-expansion-panel-header>
	    <mat-panel-title class='header'> -->

<div class="viewer">

	<div class="container" >

		<split  direction="horizontal" 
              [gutterSize]="7" 
              [useTransition]="true" gutterColor=white>

				<split-area class="sidebar"
					[size]="30"
			        order="1">

						<section>
							<div (click)="new_flowchart()">New File</div>
							<div (click)="openPicker()">Open File
								<input #fileInput style="display: none;"
						  		type="file" (change)="loadFile()"/> 
							</div>
							<div (click)="save()">Save File</div>
							<div (click)="publishSettings()">Publish</div>
						</section>


						<section>
							<div (click)="add_node($event)">New Node</div>
							<app-node-library></app-node-library>
						</section>
				</split-area>
				
		
				<split-area order="2" [size]="70"
					style="overflow: hidden; position: relative; display: flex; flex-direction: column;" 
					(wheel)="scale($event)">
				    <div class ="action-window">
				    	

				    	<div class="content-wrapper" (wheel)="scale($event)" 
				    		style="flex-grow: 1;">
							

							<!-- div container for the flowchart -->
							<div class="graph-container" 
								id="graph-nodes"
							    [style.transform]="getZoomStyle()"
								ondragover="return false" 
								(mousedown)="pan($event)">

								<!-- all nodes --> 
								<div class="node-container content-wrapper">
									
									<!-- single  node -->
									<div  class="node" 
											*ngFor="let node of fc.nodes; let node_index = index" 
											id="n{{node_index}}"
											[style.left.px]="node.position[0]" 
											[style.top.px]="node.position[1]">

											<!-- node-controls-->
											<div class="btn-container" *ngIf="node.id == active_node?.id" >
												
												<div class="btn-group port-btns">

													<!-- delete node -->
													<div class="action-button" (click)="delete_node(node.id)" 		
														matTooltip="Delete Node">
														<mat-icon>delete</mat-icon>
													</div>
													
													<!-- disable / enable node -->
													<div class="action-button" (click)="node.enabled = !node.enabled; push_flowchart();">
														<mat-icon>{{ node.enabled ? 'check_circle' : 'highlight_off' }} </mat-icon>
													</div>

													<!--todo -->
													<div class="action-button" (click)="saveNode(node_index)" 
														matTooltip="Save Node To Library"
														*ngIf="!isSaved(node)">
														<mat-icon>file_download</mat-icon>
													</div>
													
													<!--todo -->
													<div class="action-button" (click)="addFunctionOutput(node_index)" 
														matTooltip="Add functional output" *ngIf="!node.hasFnOutput()">
														<mat-icon>my_library_add</mat-icon>
													</div>

												</div>
											</div>

											
											<!-- node body -->
											<div class="node-body" 
												[class.library]="node.getType() !== undefined"
												[class.error]="node._hasError"
												[class.disabled] ="node.enabled" 
												[class.function] ="node.hasFnOutput()"
												(click)="active_node = node; push_node();"
												draggable=true  
												(dragstart)="nodeDragStart($event, node)" 
												(drag)="nodeDragging($event, node, node_index)" 
												(dragend)="nodeDragEnd($event, node)">
												
												<div class="node-name" 
														[class.selected]="node.id == active_node?.id">
													    <input matInput
													    [(ngModel)]="node.name"
													    style="margin: 2px; min-width: 50px; max-width: 80px;"
													    placeholder="Node Name" value="{{ node.name }}"/>
												</div>
												
												<!--inputs -->
												<div class="port-container">
													
													<div class="port input" 
														*ngFor="let port of node.inputs; let pi=index"  
														id="n{{node_index}}pi{{pi}}"
														[class.hidden]="port.type != 'Input'">

														<div class="port-grip" 
															draggable=true
															[class.connected]="port.isConnected()" 
															[class.isFunction]="port.isFunction()" 		
															(dragstart)="portDragStart($event, port, [node_index, pi])" 
															(drag)="portDragging($event, port)" 
															(dragend)="portDragEnd($event, port)"
															(drop)="portDrop($event, port, [node_index, pi])">
														</div>

														<input matInput
													    [(ngModel)]="port.name"
													    style="margin: 2px; min-width: 50px; max-width: 80px;"
													    placeholder="Input Port Name" value="{{ port.name }}"/>

														<!-- <span class="port-name">{{ port.name | shortname: 10 }}</span> -->
													</div>

												</div>

												<!-- outputs -->
												<div class="port-container">
													<div class="port output"
														*ngFor="let port of node.getOutputs(); let po=index;"
														id="n{{node.id}}po{{po}}">

														<!-- <span class="port-name" [class.isFunction]="port.isFunction()">{{port.name  | shortname: 10  }}</span> -->

														<input matInput
													    [(ngModel)]="port.name"
													    [class.isFunction]="port.isFunction()"
													    style="margin: 2px; min-width: 50px; max-width: 80px; text-align: right;"
													    placeholder="Output Port Name" value="{{ port.name }}"/>

														<div class="port-grip" 
															draggable=true
															[class.selected]="isPortSelected(node_index, po)"
															[class.connected]="port.isConnected()" 
															[class.isFunction]="port.isFunction()" 
															(click)="clickPort($event, node_index, po)"
															(dragstart)="portDragStart($event, port, [node_index, po])" 
															(drag)="portDragging($event, port)" 
															(dragend)="portDragEnd($event, port)"
															(drop)="portDrop($event, port, [node_index, po])">
														</div>

													</div>
												</div> 


												<!-- <div class="fromLibrary"  style="font-size: 8px; text-align: center">
													Library Node
												</div> -->

											</div>
									</div>
								</div>

								<div class="edge-container">
									<app-graph-edge *ngFor="let edge of fc.edges" [edge]="edge"></app-graph-edge>
									
									<!-- temporary edge -->
									<app-graph-edge 
											[class.hidden]="!_linkMode"
											[edge]="{inputPosition: mouse_pos.start, outputPosition: mouse_pos.current}"
											[temporary]="true">
									</app-graph-edge>
								</div>

							</div>
	
						</div>
					</div>

				</split-area>

		</split>

	</div>
	

</div>
<!-- </mat-expansion-panel> -->



