@import '~scss/globals';
@import './parameter-viewer-globals.component';

$execute-height: 36px;

div.mat-input-wrapper.mat-form-field-wrapper{
	padding: 0;
}

$text-height: 12px;
$default-height: 2*$text-height;

.param-in-viewer{
	font-size: 14px;
	line-height: 16px;
	
	padding: 0px;
	margin: 0 auto;
	text-align: justify;

	padding: 10px;
}

.box-text-values{
	font-size: $text-height;
	height: $default-height;
	line-height: $default-height;
	text-align: center;
	color: #395D73;
}

.viewer{
	font-family: sans-serif;
	display: flex; 
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: space-between;

	background-color: white;

	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding-bottom: $header-height;

	&.globals-viewer{
		padding: 0px;
		background-color: rgba(20, 20, 20, 0.5);
		border-left: 1px solid gray;
		color: #ddd;
	}

	.container{
		display: flex; 
		flex-direction: column;
		overflow:auto;
		box-sizing: border-box;
		height: auto;
		padding-bottom: $execute-height;
		.paramater-container{
			flex-grow:1;
			flex-shrink:0;
			height: auto;
			display: flex; 
			flex-direction: row; 
			justify-content: space-equally;
			font-size: $fsize1;
			line-height: 18px;
			//border-bottom: 1px solid $color2;
			width: 100%;
			padding: 2px 0px;
			.info{
			background-color: white;
			padding: 0 $default-side-padding;
			color: $color1;
			width:20%;
			max-width: 100px;
				.param{
					display: flex;
					height: 100%;
					align-items: center;
					justify-content: flex-end;

					//.label{
						//width: 80px; 
						//text-transform: uppercase; 
						//font-size: $fsize2; 
						//color: $color2; 
					//}

					.content{
						font-size: $fsize2;
					}
				}
			}
			/*.connection{
					//border-bottom: 1px solid $color2;
					padding: 0 0 $default-side-padding 0;
					margin: 0;
			}*/
			.value{
				//padding: $default-side-padding;
				font-family: 'Ubuntu Mono', monospace;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 80%;
				flex-grow: 0;
				flex-shrink:0;
				.curr-value{
					width: 100px;
					textarea{
						//height: auto !important;
						//font-family: 'Ubuntu Mono', monospace !important;
					}
				}
				.slider-container{
					display: flex;
					flex-flow: row-reverse no-wrap;

					align-items: center;
					padding: 0 $default-side-padding;
					width: 100%;
					.content{
						font-size: $fsize2;
						color: $color1;
					}
				}
			}
			//border-bottom: 1px solid $color2;
			/*border-top: 1px dashed $color1;
			border-bottom: 1px dashed $color1;*/
		}
	}
	
}


//.buttoncontainer{
	//display: flex;
	//flex-direction: reverse-row;
	//justify-content: flex-end;
	//height: $execute-height;
//}

#execute{
	width: 100%;
	background-color:$pcolor3;
	color: white;
	height: $execute-height;
	align-self: flex-end;
	flex-shrink:0;
	//flex-grow: 1;
	&:hover{
		background-color: $color4;
		color:$color5;
	}
}



#param-container-cesium{
	overflow-x: hidden;
	padding: 3px;
	margin-top: 5px;

	display: flex; 
	flex-direction: column;
	justify-content: flex-start;

	.mat-input-element{
		vertical-align: middle !important;
		font-family: 'Roboto', sans-serif;

		textarea{
			padding-left: 5px;
		}

		.mat-input-wrapper{
			border-bottom: none !important;
		}
	}

	textarea{
		height: $default-height;
		font-size: 12px;
		line-height: $default-height;
		border: 1px solid $color1;
		text-align: center;
	}
	
	.single-param-container{
		display: flex; 
		flex-direction: row; 
		flex-wrap: wrap;

		margin: 0px 0px 5px 0px; 
		padding: 0px;

		font-family: 'Roboto', sans-serif;

		.param-name{
			width: 90px;
			min-height: $default-height;
			line-height: $default-height;
			vertical-align: middle;
			word-wrap: break-word;
			padding-left: 5px;
			font-size: $text-height;
		}

		.param-value{
			min-width: 40px;
			padding: 0px; 
			margin: 0px 0px 0px 10px;
			flex-grow: 1;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			// text fields
			.content{
				width: 100%; 
				height: 100%;
				vertical-align: middle;

				.mat-input-container{
					width: 100%;
					
					.mat-input-wrapper{
						border-bottom: 0px;
					}
					
			
				}
				
			}

			// sliders
			.curr-value{
				width: 40px;	
				height: $default-height;

			}

			.slider-container{

				display: flex;
				flex-direction: row;
				
				flex-grow: 1;
				margin-left: 5px;

				.content{
					@extend .box-text-values;
					width: 40px;
				}

				.mat-slider-horizontal{
					padding: 0px;
					height: $default-height;

					min-width: 50px;

					flex-grow: 1;

					.mat-slider-wrapper{
						top: $text-height !important;
					}

				}
				
			}

			
		}

	}

}

