<div class="viewer" [class.globals-viewer]="globals">

	<div class="container" id="param-container-cesium"  #cesium_param_container>

		<div class="default" 
			*ngIf='!globals && (_inputs == undefined || _inputs.length == 0)'>
			No node selected 
		</div>
 
		<div class="param-in-viewer" *ngIf="globals">
			<h3 class="flo_title">{{flowchartService.getFlowchart().name | simplename }}</h3>
			<div [innerHTML]="flowchartService.getFlowchart().description"></div>
			<h4 *ngIf="_editable && _inputs.length">Parameters</h4>
		</div>

		<div class='paramater-container single-param-container'
			 *ngFor="let inp of _inputs" >
				<div class="param-name">
					{{ inp.getName() }}
				</div>

				<!-- if input type == Input -->
				<div class="param-value" *ngIf="inp.getType() == InputPortTypes.Input">
					<form  class='content'>
						<mat-form-field>
							<textarea matInput 
								matTextareaAutosize 
								matAutosizeMinRows="1"
		            			matAutosizeMaxRows="5" 
		            			(change)="updateComputedValue($event, inp)"
		            			value="{{ getValue(inp) }}">
		            		</textarea>
						</mat-form-field>
					</form>
				</div> 

				<!-- if input type == Slider -->
				<div class="param-value" 
					*ngIf="inp.getType() == InputPortTypes.Slider">
					<mat-form-field class="curr-value">
						<textarea matInput 
							matTextareaAutosize 
							matAutosizeMinRows="1"
	            			matAutosizeMaxRows="5" 
	            			(change)="updateComputedValue($event, inp)"
	            			value="{{ getValue(inp) }}">
	            		</textarea>
					</mat-form-field>
					<div class="slider-container" *ngIf="el.nativeElement.offsetWidth > 200">
						<span class='content'>{{inp.getOpts().min}}</span>
						<mat-slider min="{{inp.getOpts().min}}" 
									max="{{inp.getOpts().max}}" 
									step="{{inp.getOpts().step}}" 
									[thumb-label]="true"
									#val
									[(ngModel)]="val.value"
									(change)="updateComputedValue($event, inp, val.value)"
									value="{{ getValue(inp) }}"></mat-slider>
						<span class='content'>{{inp.getOpts().max}}</span>
					</div>
				</div>

				<!-- if input type == FilePicker -->
				<div class="param-value" 
					*ngIf="inp.getType() == InputPortTypes.FilePicker">
					<input type="file" id="file" (change)="handleFileInput($event.target.files, inp)">
					<span *ngIf='inp.getDefaultValue()'>(has default)</span>
					<span *ngIf='!inp.getDefaultValue() && inp.getValue()'>(file loaded)</span>
				</div>

				<!-- if input type == URL -->
				<div class="param-value" 
					*ngIf="inp.getType() == InputPortTypes.URL">
					<small><input type="text" value="{{inp.getOpts().url}}" #url disabled></small>
					<button (click)="getDataFromURL($event, inp)" style="max-height: 25px;">Get Data</button>
					<span *ngIf='inp.getValue()'>(has data)</span>
				</div>
	 
				<!-- if input type == Checkbox -->
				<div class="param-value" 
					*ngIf="inp.getType() == InputPortTypes.Checkbox">
					<mat-checkbox #val (change)="updateComputedValue($event, inp, val.checked)" 
					[checked]="inp.getValue()"></mat-checkbox>
				</div>
		</div>
		
		<button id="execute" 
				*ngIf="!globals || _editable"
				mat-raised-button 
				color="accent" 
				(click)="executeFlowchart($event)">
				Execute Flowchart
		</button>  
	
	</div>


</div>

