<div class="viewer">

	<div class="container">
		
		<!-- default -->
		<div class="default" *ngIf="!active_node">No node selected</div>

		<!-- main -->
		<div class="view-container" *ngIf="active_node">
			
			<mat-accordion multi="true" [displayMode]="flat">

				<!-- inputs -->
				<mat-expansion-panel [disabled]="active_node.inputs.length == 0" [expanded]="true">
					
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Inputs ({{ active_node.inputs.length }})
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div class='port input' *ngFor="let inp of active_node.inputs; let i=index">
						
						<div class="content">
							
							<div class='row'>
								
								<input 
								    name={{inp.name}}_name
								    class="content"
									contenteditable="true"
									spellcheck="false" 
									[(ngModel)]="inp.name">
							</div>

							<div class='row' *ngIf='!inp.isFunction()'>
								<!--<span class='label'>Type</span>-->
								<span class='content'>
									<select name={{inp.name}}_type
									    [(ngModel)]="inp.type">
						         	    <option *ngFor="let x of inputPortOpts" [value]="x" [selected]="inp.type == x">
						         	    	{{ x | port_type_name }}
						         	    </option>
						            </select>
								</span>
							</div>
	
							<div class="row" *ngIf='inp.isFunction()'>
								<span class="content" (click)="addFunctionToProcedure(inp)" matTooltip="Add function to procedure">
									<!-- <mat-icon>add</mat-icon> --> [add]
								</span>
							</div>
							
						</div>			

						<div class="controls">
							<button mat-button (click)='openSettingsDialog(inp)' tabindex="-1">
								<mat-icon>settings</mat-icon>
							</button>
					        <button mat-button (click)='delete_port($event, inp)' tabindex="-1">
					    		<mat-icon>delete</mat-icon>
    					    </button>
						</div>

					</div>

				</mat-expansion-panel>

				<!-- outputs -->
				<mat-expansion-panel [disabled]="active_node.outputs.length == 0" [expanded]="true">
					
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Outputs ({{ active_node.outputs.length }})
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div class='port output' *ngFor="let output of active_node.outputs; let o=index">
						
						<div class="content">
						
							<div class='row'>
								<input 
									    name={{output.name}}_name
									    class="content"
										contenteditable="true"
										spellcheck="false" 
										[(ngModel)]="output.name"/>
							</div>
							
							<div class='row'>
								<span class='content'>
									<select name={{output.name}}_type
									    [(ngModel)]="output.type">
						         	    <option *ngFor="let x of outputPortOpts" [value]="x" [selected]="x == output.type">
						         	    	{{ x | port_type_name }}
						         	    </option>
						            </select>
								</span>
							</div>
							
							<div class="controls">
						        <button mat-button (click)='delete_port($event, output)' tabindex="-1">
						    		<mat-icon>delete</mat-icon>
	    					    </button>
							</div>
						</div>

					</div>
				
				</mat-expansion-panel>

			</mat-accordion>

		</div>

	</div>

</div>

