@import '../../../../scss/globals';

$sidebar-width: 350px;
$btn-height: 70px;
$btn-width: 30px;

.message{
	width: 100%; 
	height: 100%; 
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;

	&.loading{
		background-image: url("../../../../assets/img/loading_icon.gif");
	}

	&.sad-face{
		background-image: url("../../../../assets/img/SadSmiley.gif")
	}
}


#app-container{

	width: 100%; 
	height: 100%;

	margin: 0px;
	padding: 0px;

	overflow: hidden !important;

	.container{
		position: relative;

		height: 100vh !important;
		overflow: hidden;
	}

	.side-bar-container{

		position: absolute;
		top: 0px;
		right: 0px;

		z-index: 100;

		width: $sidebar-width + $btn-width;
		height: 100vh; 
		padding-left: $btn-width;

		overflow: hidden;

	
		.nav-toggle-btn{
			position: absolute;
			top: 50%;
			margin-top: -$btn-height/2;
			margin-left: -$btn-width;

			z-index: 200;

			width: $btn-width;
			height: $btn-height;
			
			border-top: 1px solid gray;
			border-left: 1px solid gray;
			border-bottom: 1px solid gray;
			border-radius: 4px;

			background-color: rgba(20, 20, 20, 0.5);
			color: #ddd;
			text-align: center;
			font-size: 32px;
			line-height: $btn-height;

			span{
				vertical-align: middle;
			}
		}

	}


}
