<div id="app-container" *ngIf="supported && visible">

    <div class="container">
        <app-viewer-container viewer_mode=true></app-viewer-container>
    </div>


    <div class="side-bar-container" [@slide_in_out]="slider_state">
    	<div class="nav-toggle-btn" (click)="toggleMenu()">
    		<span *ngIf="slider_state == 'slide_in'">▹</span>
    		<span *ngIf="slider_state == 'slide_out'">◃</span>
    	</div>
        <app-parameter-viewer globals=true></app-parameter-viewer>
    </div>


</div>


<div class="message-general sad-face" *ngIf="!supported">

</div>


<div class="message-general loading" *ngIf="!visible">

</div>