<div id="app-container" *ngIf="supported">

  <div class="container">

    <div class="wrapper">

      <split  direction="horizontal" 
              gutterColor="#8AA8C0"
              [gutterSize]="layout.gutter" 
              [useTransition]="layout.useTransition">

            <!-- main pane -->
            <split-area>
              <app-viewer-container></app-viewer-container>  
            </split-area>

            <!-- secondary split pane -->
            <split-area>
               <app-parameter-viewer globals=true></app-parameter-viewer>
            </split-area>
            
      </split>

    </div>

  </div>

</div>

