$primary-color: #4A606A;
$secondary-color: #F2EFE4;

.container{
	position: relative;
	padding: 45px 10% 75px 10%;
	min-height: 450px;

	.heading{
		line-height: 150%;
		width: 100%;
		text-align: left;
	}

	color: $primary-color;
}


h1{
	font-size: 48px;
	text-align: left;
}

h2{
	font-size: 32px;
}

h2{
	font-size: 28px;
}

p{
	font-size: 16px;
}

.hero-div{

	position: relative;

	background-color: $primary-color;
	color: $secondary-color;

	display: flex; 
	flex-direction: row;
	justify-content: space-evenly;

	.content{
		display: flex; 
		flex-direction: column;
		max-width: 450px;

		.btn-container{
			margin: 30px 0px 30px 0px;

			button{
				background-color: $secondary-color;
				color: $secondary-color !important;

				a::visited{
					color: $secondary-color;
				}

				a{
					color: $primary-color;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
		
	}

	.video{
		.hero-image{
			height: 450px;
			width: 450px;
			border: 1px solid black;
		}
	}

}


.feature-wrapper{
	display: flex; 
	flex-direction: column; 
	align-items: center;
	justify-content: space-evenly;
	text-align: center;

	.feature-container{
		display: flex; 
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		.feature{

			width: 150px;
			text-align: center;

			mat-icon{
				margin-left: -37.5px;
				margin-bottom: 15px;
				font-size: 75px;
				color: $primary-color;
			}

		}
		
	}

}

.showcase-wrapper{
	display: flex; 
	flex-direction: column; 
	justify-content: space-evenly;

	.showcase-container{
		display: flex; 
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;

		.showcase{
			padding-top: 30px;
			width: 150px;

			img{
				min-height: 150px;
				min-width: 150px;
				border: 1px solid black;
			}

		}
		
	}

}


.contact{

	display: flex; 
	flex-direction: column; 
	align-items: center;
	justify-content: space-between;
	text-align: center;


	background-color: $primary-color;
	height: 150px;
	min-height: 50px;
}