<div class="container">
	<h1>Mobius Modeller</h1>
	<p>Cesium Integration</p>
	
	<div class="description">
		
		<p>
			The Möbius Modeller is a web application that allows users to create automated procedures using visual programming. All procedures are executed in the browser on the client side, and as such no server side process is required.
		</p>
		
		<p>		
			Currently, Möbius Modeller has be developed to support Parametric Information Modelling (PIM) in the architectural and urban design domain, allowing procedures to be developed for generating and evaluating 3D models of buildings and urban neighbourhoods.
		</p>

		<p>
			The Möbius Modeller can be customised to a wide different domains by developing specialized function libraries and specialized viewers. Contact us if you are interested in applying the Möbius Modeller in your domain.
		</p>

	</div>

	<div class="link-container">

		<a href="./editor" target="_blank">
			Try Mobius
		</a>

		<a href="./gallery" target="_blank">
			View Gallery
		</a>

		<a href="https://github.com/phtj/mobius-modeller" target="_blank">
			Contribute on Github
		</a>

	</div>

</div>


