<mat-toolbar>
  <mat-toolbar-row>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- hero -->
<div class='container hero-div'>

	<div class="content">
		<div class="heading">
			<h1>Mobius Modeller</h1>
			<h2>Code for all.</h2>
		</div>
		
	  	<p>Reprehenderit eiusmod magna veniam adipisicing culpa exercitation aliquip ullamco elit proident eiusmod laboris reprehenderit sint dolor sint veniam duis proident reprehenderit exercitation cupidatat aute laboris eiusmod eiusmod excepteur consectetur culpa quis enim in quis sed dolor sint fugiat cillum enim deserunt</p>
		
		<div class="btn-container">
	  		<button mat-button color="secondary"> 
	  			<a href="/editor" target="_blank">Try Mobius</a>
	  		</button>
	  		<button mat-button>
	  			<a href="https://github.com/phtj/mobius-modeller" target="_blank">
	  			Contribute on Github
	  			</a>
	  		</button>
	  		<button mat-button>
	  			<a href="/gallery" target="_blank">
	  			View Gallery
	  			</a>
	  		</button>
	  	</div>
	</div>

	<div class="video">
		<div class="hero-image"></div>
	</div>


</div>


<!-- features -->
<div class="container feature-wrapper">
	
	<div class="heading">
		<h2>Features</h2>
		<h3>Proident adipisicing tempor do consectetur elit in consequat reprehenderit ad ea nostrud fugiat dolore ad.</h3>
	</div>


	<div class="feature-container">
		<div class="feature">
			<mat-icon>3d_rotation</mat-icon>
			<div class="feature-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>

		<div class="feature">
			<mat-icon>3d_rotation</mat-icon>
			<div class="feature-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>

		<div class="feature">
			<mat-icon>3d_rotation</mat-icon>
			<div class="feature-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>

		<div class="feature">
			<mat-icon>3d_rotation</mat-icon>
			<div class="feature-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>
	</div>


</div>


<!-- features -->
<div class="container showcase-wrapper">

	<div class="heading">
		<h2>Gallery</h2>
		<h3>Proident adipisicing tempor do consectetur elit in consequat reprehenderit ad ea nostrud fugiat dolore ad.</h3>
	</div>

	<div class="showcase-container">
		<div class="showcase">
			<img class="showcase-image">
			<div class="showcase-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>

		<div class="showcase">
			<img class="showcase-image">
			<div class="showcase-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>

		<div class="showcase">
			<img class="showcase-image">
			<div class="showcase-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>

		<div class="showcase">
			<img class="showcase-image">
			<div class="showcase-description">Et culpa veniam incididunt ea enim cillum excepteur magna esse dolor ut in sed sed sit in quis laborum.</div>
		</div>
	</div>


</div>



<!-- footer -->
<div class="container contact">

	<h2 class="heading">Contact Us</h2>
	<p>
	Cupidatat deserunt minim sit ut nostrud irure aliqua proident in ut aute cupidatat elit incididunt ullamco ad ut irure mollit mollit ullamco quis.
	</p>

</div>