@import '~scss/globals';

.procedure-item{
	font-family: 'Ubuntu Mono', monospace;
	span.module{
		color: $pcolor2 !important;
		font-weight: bold;
	}

	span.function{
		color: $pcolor4 !important;
		font-weight: bold;

	}
	span.equal{
		text-align: center;
		width: 15px;
	}
}

.seg1{
	&.disabled{
		opacity: 0.4;
	}
	
	&.print{
		background-color: #A5F3A5;
	}
	&.error{
		background-color: red;
	}
}

mat-expansion-panel-header{
	background-color: $color3 !important;
	border-top: 1px solid $color2 !important;
	border-bottom: 1px solid $color2 !important;
	padding-left: $default-side-padding !important;
	mat-panel-title{
		color: $color1 !important;
		font-weight: bold !important;
		font-size: $fsize2 !important;
	}
	&:hover{
		background-color: $color3 !important;
	}
}
