@import '~scss/globals';

.seg2{
	display: none;
}

.children{
	padding-left: 15px;
}

.full-container{

	padding: 4px; 
	//border: 1px solid lightgray;
	font-size: 14px;
	font-weight: lighter;
	font-family: sans-serif;

	&::hover{
		background-color: gray;
	}
}


input{
	border-bottom: 1px dashed;
	text-align: center;
}

.procedure-item{
	font-family: 'Ubuntu Mono', monospace;

	span.module{
		color: $pcolor2 !important;
		font-weight: bold;
	}

	span.function{
		color: $pcolor4 !important;
		font-weight: bold;

	}
	span.equal{
		text-align: center;
		width: 15px;
	}
}

.selected{
	background-color: gray;
}