<div class="viewer">
	<mat-accordion>
		<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Procedure ({{active_node?.procedure.length}})
						</mat-panel-title>
						<mat-panel-description>
						  <!-- This is a summary of the content -->
						</mat-panel-description>
					</mat-expansion-panel-header>

					<div class="prod-container" style="padding: 15px;">
						<ng-container *ngFor="let p of active_node?.procedure">
							<app-procedure-item 
								[class.selected]="p?.id == active_procedure?.id"
								[prod]="p" 
								(select)="onSelect($event)">	
							</app-procedure-item>
						</ng-container>
					</div>
							
		</mat-expansion-panel>
	</mat-accordion>
</div>