@import '~scss/globals';

.node{
	cursor: pointer;

	display: flex; 
	flex-direction: row; 
	justify-content: space-between;

	margin-right: 15px;

	.node-functions{
		color: gray;
	}
	
	&:hover{
		color: white;
	}
}

.disabled{
	color: $color2;
}