<div id="cesiumContainer" (click)="select()">
	<!-- <div id="ColorandHeight">
		<div id="toolbar">
		<div id="Hidediv" style="width: 110px;height:83px;display:inline-block;border-style: solid;border-color:#395D73;word-wrap:break-word;overflow: hidden !important;text-overflow: ellipsis !important;table-layout:fixed !important;white-space: nowrap !important;">
			<table><tr>
					<th class="colorkey" style="width: 100%"><div class="Hide" style="width: 110px;color:white;text-shadow: 0px 0px 3px black;border:0;text-align: left;background: transparent;">Seleted<input type="checkbox" id="CheckHide" [checked]="CheckHide" (click)="changeHide();checkHide()"></div></th>
				</tr>
				<tr>
					<th class="colorkey" style="width: 100%"><div class="Hide" style="width: 110px;color:white;text-shadow: 0px 0px 3px black;border:0;text-align: left;background: transparent;">Committed<input type="checkbox" id="CheckHide" [checked]="CheckCom" (click)="changeCom();checkHide()"></div></th>
				</tr>
				<tr>
					<th class="colorkey" style="width: 100%"><div class="Hide" style="width: 110px;color:white;text-shadow: 0px 0px 3px black;border:0;text-align: left;background: transparent;">Occupied<input type="checkbox" id="CheckHide" [checked]="CheckOcc" (click)="changeOcc();checkHide()"></div></th>
				</tr>
			</table>
		</div>
		<div style="width: calc(100% - 345px);display:inline-block;border-style: solid;border-color:#395D73;word-wrap:break-word;overflow: hidden !important;text-overflow: ellipsis !important;table-layout:fixed !important;white-space: nowrap !important;">
		<div style="width: 80px;display:inline-block;height:80px;word-wrap:break-word;">
			<table border="0" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0">
				<tr >
          		<td ><div class="Hide" style="text-align: left;border:0;background-color:transparent;color:white;text-shadow: 0px 0px 3px black;">Color</div></td>
          		</tr>
				<tr>
          		<th><div>
				<select class="cesium-button" (change)="onChangeColor($event.target.value)">
					<option class="cesium-option"  *ngFor="let propertyName of propertyNames" value={{propertyName}}>{{propertyName}}</option>
					<option class="cesium-option" value="Status_Cat">Status_Cat</option>
					<option class="cesium-option" value="DIST_EWL">DIST_EWL</option>
					<option class="cesium-option" value="DIST_TRUNK">DIST_TRUNK</option>
					<option class="cesium-option" value="AVAILABLE">AVAILABLE</option>
					<option class="cesium-option" value="AGG_POT">AGG_POT</option>
					<option class="cesium-option" value="GPR">GPR</option>
					<option class="cesium-option" value="HB_LIMIT">HB_LIMIT</option> -->
				<!-- </select>
				</div></th>
				</tr>
			</table>
		</div>
		<div id="color" style="width:calc(100% - 90px);display:inline-block;position: relative;height:80px;word-wrap:break-word;">
			<table style="width: 100%">
				<tr >
          		<td *ngFor="let Color of Colors" style="width: 40px;"><div [ngStyle]="{ 'background-color': Color}" >&nbsp;&nbsp;&nbsp;</div></td>
          		</tr>
          		<tr >
          		<td class="colorkey" *ngFor="let text of texts" style="width: 40px;"><div class="table_text">{{text}}</div></td>
          		</tr>
			</table>
		</div> 
		</div>
		<div style="width: 200px;display:inline-block;border-style: solid;border-color:#395D73;word-wrap:break-word;overflow: hidden !important;text-overflow: ellipsis !important;table-layout:fixed !important;white-space: nowrap !important;">
		<div style="width: 80px;display:inline-block;position: relative;height:80px;word-wrap:break-word;">
			<table border="0" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0">
				<tr >
          		<td ><div class="Hide" style="text-align: left;border:0;background-color:transparent;color:white;text-shadow: 0px 0px 3px black;">Height</div></td>
          		</tr>
				<tr>
				<tr>
	          	<th><div >
				<select class="cesium-button" (change)="onChangeHeight($event.target.value)">
					<option class="cesium-option"  *ngFor="let propertyName of propertyNames" value={{propertyName}}>{{propertyName}}</option> -->
					<!-- <option class="cesium-option" value="Status_Cat">Status_Cat</option>
					<option class="cesium-option" value="DIST_EWL">DIST_EWL</option>
					<option class="cesium-option" value="DIST_TRUNK">DIST_TRUNK</option>
					<option class="cesium-option" value="AVAILABLE">AVAILABLE</option>
					<option class="cesium-option" value="AGG_POT">AGG_POT</option>
					<option class="cesium-option" value="GPR">GPR</option>
					<option class="cesium-option" value="HB_LIMIT">HB_LIMIT</option> -->
		<!-- 		</select>
				</div>
				</th>
				</tr>
			</table>
		</div>
		<div style="width: 100px;display:inline-block;position: relative;color:white;height:80px">
			<table border="0" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0" style="width: 100%;height: 25px">
			<tr ><th style="width:50px;"><div style="width: 100%;color:white;text-shadow: 0px 0px 3px black;font-weight: normal;text-align: left;">Min</div></th>
			<th style="width:50px;"><div style="width:100%;color:white;text-shadow: 0px 0px 3px black;font-weight: normal;text-align: left;">{{Minimum}}</div></th></tr>	
			</table>
			<table border="0" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0" style="width: 100%;height: 25px;">
			<tr ><th style="width:50px;"><div style="width: 100%;color:white;text-shadow: 0px 0px 3px black;font-weight: normal;text-align: left;">Max</div></th>
			<th style="width:50px;"><div style="width: 100%;color:white;text-shadow: 0px 0px 3px black;font-weight: normal;text-align: left;">{{Maximum}}</div></th></tr>
			</table>
		</div>
	</div>
	</div> -->
</div>