<div id="cesiumContainer">
  	<!-- <div id="loadfile">
	    <div class="version" style="font-family:sans-serif;color:white;"> v0.0.1</div>
	    <input type="file" id="files" name="files[]" style="font-family:sans-serif;color:white;" (change)="handleFileSelect($event)" />
	</div> -->
	<div id="toolbar">
		<select class="cesium-button">
			<option value="undefined">Color By Height</option>
			<option value="undefined">Color By Area</option>
			<option value="undefined">Color By Distance</option>
		</select>
	</div>
</div>