#cesiumContainer{
 height: 100%; 
}
#loadfile{
  position: absolute;
  width: 300px; 
  left: calc(50% - 150px);
  top: 15px;
  z-index: 100;
  font-family:sans-serif;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}
.cesium-button {
  display: inline-block;
  position: relative;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  fill: #edffff;
  border-radius: 4px;
  padding: 5px 12px;
  margin: 2px 3px;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#toolbar{
  z-index:99;
  margin: 5px;
  padding: 2px 5px;
  position: absolute;
}
