<div class="viewer-container">  
	
	<mat-button-toggle-group class="viewer-toggle" 
		*ngIf='!viewer_mode'
		[(ngModel)]="active_viewer" 
		(change)="updateView()">
		<div class= "btn-grp1">
			<!-- <mat-button-toggle value="three-viewer" class="viewer-toggle-btn" matTooltip="3D Viewer">
			  <mat-icon>3d_rotation</mat-icon>
			</mat-button-toggle> -->
			<mat-button-toggle value="cesium-viewer" class="viewer-toggle-btn">
			  <mat-icon>public</mat-icon>
			</mat-button-toggle>
			<mat-button-toggle value="text-viewer" class="viewer-toggle-btn">
			  <mat-icon>description</mat-icon>
			</mat-button-toggle>
			<!-- <mat-button-toggle value="3" disabled class="viewer-toggle-btn" matTooltip="??">
			  <mat-icon>text_format</mat-icon>
			</mat-button-toggle> -->
			<mat-button-toggle value="console-viewer" class="viewer-toggle-btn">
			  <mat-icon>info_outline</mat-icon>
			</mat-button-toggle>
			<mat-button-toggle value="help-viewer" class="viewer-toggle-btn">
			  <mat-icon>help_outline</mat-icon>
			</mat-button-toggle>
			<mat-button-toggle value="info-viewer" class="viewer-toggle-btn">
			  <mat-icon>info</mat-icon>
			</mat-button-toggle>
		</div>
		<div class = "btn-grp2">
			<mat-button-toggle value="code-viewer" id="codeViewer" class="viewer-toggle-btn">
			  <mat-icon>code</mat-icon>
			</mat-button-toggle>
		</div>
		
	</mat-button-toggle-group>

	<ng-container #vc></ng-container>
</div>