@import url(http://allfont.net/allfont.css?fonts=agency-fb);
$padding: 40px;

.tinted-image{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0,0,0, 0.6), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */
    url(../../../../assets/img/mobius-cesium-1.JPG);
}


.container{
    padding: 0px; 
    margin: 0px;

    height: 100%; 
    overflow: hidden;

    display: flex;
    flex-direction: column;

    @extend .tinted-image;

}


.container__element{
    padding: 0px 10% 0px 10%;
}

.container__element--header{
    padding-top: 70px;
    padding-bottom: 15px;

    font-size: 48px;
    line-height: 64px;
    font-weight: 600;

    color: #f7f7f7;
    font-family: 'Agency FB', arial;
    letter-spacing: 5px;
}

.container__element--subheader{
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    padding-top: 15px; 
    padding-bottom: 15px;
    color: #f7f7f7;
    font-family: 'Agency FB', arial;
}


.container__element--project-container{
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    padding-top: 30px; 
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: auto;
}


.project-container__project {
    position: relative;

    width: 25%;
    height: 150px;
    min-width: 200px;


    .project__content{
        
        height: 90%;
        width: 90%;

        font-size: 16px;
        line-height: 24px;
        //font-weight: 300;
        overflow: hidden;
        border-radius: 4px;
        vertical-align: middle;
        /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container */
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;

        border: 1px solid #222; 
        border-radius: 2px;

        background-color: rgba(0,0,0,0.6);
        color: #f7f7f7;

        a{
            display: block;

            height: 100%;
            margin: 10px;

            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            color: inherit;

            font-weight: 600;

            &:visited{
                color: inherit;
            }

        }

        &:hover{
            border-color: #f7f7f7;
        }
    }


}


