<div class="default" *ngIf="_selectedNode === undefined">
	No Node Selected
</div>

<div class="container" *ngIf="_selectedNode != undefined">
	<!-- <h3>Selected Node: {{_selectedNode.getName()}}</h3>
	<hr> -->
	<mat-accordion multi="true" [displayMode]="flat">
			<!-- inputs -->
			<mat-expansion-panel [expanded]="true" *ngFor="let output of _outResults">
				
				<mat-expansion-panel-header>
					<mat-panel-title>
					  {{ output.name }}
					</mat-panel-title>
					<mat-panel-description>
					  <!-- This is a summary of the content -->
					</mat-panel-description>
				</mat-expansion-panel-header>

				<p *ngIf="!output.isJSON" [innerHTML]="output.text"></p>
				
				<ngx-json-viewer *ngIf="output.isJSON" [json]="output.value" [expanded]="false"></ngx-json-viewer>

			</mat-expansion-panel>
			
	</mat-accordion>
</div>